/***********************
Common
***********************/
body{
    width: 100%;
    margin: 0px;
    font-family: Cambria, 'Times New Roman';
    color: #646464;
    min-width: 250px;
}

input{
    font-family: Cambria, 'Times New Roman';
}

.page-wrapper{
    width: 100%;
}
.container{
    width:900px;
    margin:auto;
}

h1, h2, h3, h4, h5{
    margin: 5px 0px 5px 0px;
}

a{
    cursor:pointer;
     color: #646464;
}

.textbox{
    border-radius: 5px;
}

hr{
    margin:20px 0px 20px 0px;
}



/***********************
Header
***********************/
.header-wrapper{
    width:100%;
    background-image: url('../Images/banner-top-background-green.jpg');
    background-position-x: left;
    background-position-y: top;
    background-repeat: no-repeat;
}
.header-menu{
    
}

.header-container{
   height: 85px;
    width: 878px;
    margin: auto;
    color: rgb(95, 95, 95);
}
.header-container-text{
    float: left;
    font-size: 39px;
    margin: 15px 0px 0px 0px;
}
.header-container-addText{
    float: left;
    font-size: 14px;
    margin: 14px 0px 0px 57px;
}
.logo{
    float: left;
    width: 45px;
    margin: 9px 0px 0px 0px;
}
.btn-translation{
    background-color: rgb(131, 182, 165);
    border-radius: 5px;
    background-repeat: no-repeat;
    height: 32px;
    width: 79px;
    text-align: center;
    float: right;
    margin-top: 17px;
    text-decoration: none;
    font-family: cambria;
    font-size: 14px;
    color:#646464;
}

/***********************
Navigation
***********************/
.nav {
    text-decoration: none;
    background-color: rgb(248, 248, 248);
    margin: 0;
    list-style: none;
    text-align: center;
    display: block;
    padding: 10px 10px 10px 10px;
    max-width: 1000px;
    margin: auto;
    z-index: 9999;
    border-bottom: 2px solid rgb(226, 226, 226);
}

    .nav > li {
        display: inline-block;
    }

        .nav > li > a {
            text-decoration: none;
            color: rgb(167, 167, 167);
            padding: 0px 25px 0px 25px;
            border-right: rgb(228, 228, 228) solid 1px;
        }

        .nav > li:last-child > a {
            border-right: 0px;
        }


.nav-container {
    border-bottom: 5px solid white;
    border-top: 5px solid white;
    font-family: cambria;
    font-size: 14px;
    background-color: rgb(248, 248, 248);
    padding: 5px 0px 5px 0px;
}

.btn-translation-sm{
    display:none;
}





/***********************
Content
***********************/
.content-wrapper{
    width: 100%;
    background-image: url('../Images/background-green.jpg');
    background-position-x: left;
    background-position-y: top;
    background-repeat: no-repeat;
    top: 132px;
    background-size: cover;
    min-height: 795px;
}

.content-pageWrapper {
    position: relative;
    background-position-x: left;
    background-position-y: top;
    padding: 10px;
    float: left;
    width: 658px;
}

.content-container{
    background-image: url('../Images/seethrough_40.png');
    background-position-x: left;
    background-position-y: top;
    min-height: 793px;
    overflow: hidden;
}

.content-imgBox{
    background-position-x: left;
    background-position-y: top;
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
    display:block;
    z-index:100;

}

.imgBox1{
    background-image: url('../Images/imgBoxNew1.png');  
    width: 190px;
    height: 255px;
}
.imgBox2{
    background-image: url('../Images/imgBoxNew2.png');
    width: 190px;
    height: 255px;
}
.imgBox3{
    background-image: url('../Images/imgBox3.png');   
    width: 190px;
    height: 255px;
}
.content-imgBoxWrapper{
    float:left;
    position:relative;
    margin:0px 15px 0px 0px;
}

.boxText{
    position:absolute;
    font-size: 14px;
    padding: 0px 16px 0px 10px;
    text-align: justify;
}
.box1text{
    bottom: 26px;
}

.box2text{
    bottom: 19px;
}

.box3text{
    bottom: 78px;
    margin-left: 13px;
    text-align: center;
}

.smallImages-wrapper{
    display:none;
}

.smallImageContainer{
    overflow: auto;
    border: 1px solid rgb(255, 255, 255);
    padding: 0px 0px 0px 0px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    width: 440px;
}

.smallImage {
    width: 100px;   
    float: left;
    margin: 0px 8px 8px 0px;
}

.smallImage-text{
    position: relative;
    overflow: auto;
    float:left;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}
/***********************
Footer
***********************/
.footer-wrapper{
    width: 100%;
    bottom: 0;
    height: 37px;
    background-image: url('../Images/footer-green.jpg');
    background-position-x: left;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-container{
    
}


/***********************
Home
***********************/

.index-img {
    width: 240px;
    float: right;
}

.index-header {
}

    .index-header h1 {
        font-size: 39px;
    }

.home-text {
   
}

.homeImage{
width: 100%;
float: right;
margin: 0px 0px 15px 15px;
}
    
 


/***********************
Contact us
***********************/
.map{
    border: 0;
    width: 100%;
    
    border: 5px solid white;
    margin: auto;
    position: relative;
}

.whereWeAre
{
    width:40%;
    float:left 
}

.contactNo{
    width:40%;
    float:left
}

.wheelchair
{
    width: 100%;
    font-weight: bold;
    width:100%
}
/***********************
Our Staff
***********************/
.img-ourstaff{
    width: 100%;
    margin: 0px 0px 15px 0px;
    border-radius: 3px;
}

.staffSection{
   float: left;
    margin: 10px 10px 10px 10px;
    width: 140px;
}


/***********************
Our Services
***********************/
.services1{
    width: 50%;
    float: left;
    margin: 0px 5px 0px 0px;
}
.services2{
    width: 47%;
    float: left;
    margin: 0px 0px 5px 0px;
}
.services3{
    width: 46%;
    float: left;
}