/***********************
Common
***********************/
body{
    width: 100%;
    margin: 0px;
    font-family: Cambria, 'Times New Roman';
    color: #646464;
    min-width: 250px;
}

input{
    font-family: Cambria, 'Times New Roman';
}

.page-wrapper{
    width: 100%;
}
.container{
    width:900px;
    margin:auto;
}

h1, h2, h3, h4, h5{
    margin: 5px 0px 5px 0px;
}

a{
    cursor:pointer;
     color: #646464;
}

.textbox{
    border-radius: 5px;
}

hr{
    margin:20px 0px 20px 0px;
}



/***********************
Header
***********************/
.header-wrapper{
    width:100%;
    background-image: url('../Images/banner-top-background-green.jpg');
    background-position-x: left;
    background-position-y: top;
    background-repeat: no-repeat;
}
.header-menu{
    
}

.header-container{
    height: 85px;
    width: 900px;
    margin: auto;
    color: rgb(95, 95, 95)
}
.header-container-text{
    float: left;
    font-size: 39px;
    margin: 15px 0px 0px 0px;
}
.header-container-addText{
    float: left;
    font-size: 14px;
    margin: 14px 0px 0px 57px;
}
.logo{
    float: left;
    width: 45px;
    margin: 9px 0px 0px 0px;
}
.btn-translation{
    background-color: rgb(131, 182, 165);
    border-radius: 5px;
    background-repeat: no-repeat;
    height: 32px;
    width: 79px;
    text-align: center;
    float: right;
    margin-top: 17px;
    text-decoration: none;
    font-family: cambria;
    font-size: 14px;
    color:#646464;
}

/***********************
Navigation
***********************/
.nav {
    text-decoration: none;
    background-color: rgb(248, 248, 248);
    margin: 0;
    list-style: none;
    text-align: center;
    display: block;
    padding: 10px 10px 10px 10px;
    max-width: 1000px;
    margin: auto;
    z-index: 9999;
    border-bottom: 2px solid rgb(226, 226, 226);
}

    .nav > li {
        display: inline-block;
    }

        .nav > li > a {
            text-decoration: none;
            color: rgb(167, 167, 167);
            padding: 0px 35px 0px 35px;
            border-right: rgb(228, 228, 228) solid 1px;
        }

        .nav > li:last-child > a {
            border-right: 0px;
        }


.nav-container {
    border-bottom: 5px solid white;
    border-top: 5px solid white;
    font-family: cambria;
    font-size: 14px;
    background-color: rgb(248, 248, 248);
    padding: 5px 0px 5px 0px;
}

.btn-translation-sm{
    display:none;
}





/***********************
Content
***********************/
.content-wrapper{
    width: 100%;
    background-image: url('../Images/background-green.jpg');
    background-position-x: left;
    background-position-y: top;
    background-repeat: no-repeat;
    top: 132px;
    background-size: cover;
    min-height: 795px;
}

.content-pageWrapper{
    position:relative;
    background-position-x: left;
    background-position-y: top;
    padding: 10px;
}
.content-container{
    background-image: url('../Images/seethrough_40.png');
    background-position-x: left;
    background-position-y: top;
    min-height: 793px;
    overflow: hidden;
}

.content-imgBox{
    background-position-x: left;
    background-position-y: top;
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
    display:block;
    z-index:100;

}

.imgBox1{
    background-image: url('../Images/imgBoxNew1.png');  
    width: 190px;
    height: 255px;
}
.imgBox2{
    background-image: url('../Images/imgBoxNew2.png');
    width: 190px;
    height: 255px;
}
.imgBox3{
    background-image: url('../Images/imgBox3.png');   
    width: 190px;
    height: 255px;
}
.content-imgBoxWrapper{
    float:left;
    position:relative;
    margin:0px 15px 0px 0px;
}

.boxText{
    position:absolute;
    font-size: 14px;
    padding: 0px 16px 0px 10px;
    text-align: justify;
}
.box1text{
    bottom: 26px;
}

.box2text{
    bottom: 19px;
}

.box3text{
    bottom: 78px;
    margin-left: 13px;
    text-align: center;
}

.smallImages-wrapper{
    display:none;
}

.smallImageContainer{
    overflow:auto;
    overflow: auto;
    padding: 0px 10px 0px 10px;
}

.smallImage {
    width: 100px;   
    float: left;
    margin: 0px 8px 8px 0px;
}

.smallImage-text{
    float:left;
}
/***********************
Footer
***********************/
.footer-wrapper{
    width: 100%;
    bottom: 0;
    height: 37px;
    background-image: url('../Images/footer-green.jpg');
    background-position-x: left;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-container{
    
}






/***********************
Home
***********************/

.index-img {
    width: 240px;
    float: right;
}

.index-header {
}

    .index-header h1 {
        font-size: 39px;
    }

.home-text {
   
}

.homeImage{
width: 35%;
float: right;
margin: 0px 0px 15px 15px;
}
    
    
    

@media(min-width:650px)
{
     .btn-translation-sm{
        display:none;
    }
    
    .nav {
        display: block;
    }
    
}



/***********************
Contact us
***********************/
.map{
    border: 0;
    width: 55%;
    /* border-radius: 10px; */
    border: 5px solid white;
    margin: auto;
    position: relative;
}



/***********************
Our Staff
***********************/
.img-ourstaff{
    width:650px;
    margin: 0px 0px 15px 0px;
    border:2px solid rgb(90, 90, 90);
}

.staffSection{
    float:left;
    margin:10px 60px 10px 10px;
}

/********************************************************************************/
@media(max-width:935px)
{
    
   .container{
        max-width:900px;
        width:100%;
        margin:auto;
   }
 
   
   /***********************
    Header
    ***********************/
    .header-container {
        height: 76px;
        max-width: 900px;
        width: 100%;
        margin: auto;
    }
    
    .logo {
        width: 38px;
        margin: 9px 0px 0px 0px;
    }
    
    .header-container-text {
        float: left;
        font-size: 30px;
        margin: 16px 0px 0px 0px;
    }
    
    
    
    
    
        /***********************
    Navigation
    ***********************/
    .nav {
        padding: 10px 10px 10px 10px;
        max-width: 750px;
        margin: auto;
        display:block;
    }

        .nav > li {
            display: inline-block;
        }

            .nav > li > a {
                text-decoration: none;
                color: rgb(167, 167, 167);
                padding: 0px 20px 0px 20px;
            }

            .nav > li:last-child > a {
                border-right: 0px;
            }    
            
            
            
            
            
            
     /***********************
    Content
    ***********************/   
            
    .content-wrapper {
        top: 123px;
    }
    
    .content-pageWrapper {
/*        float: left;
        width: 70%;*/
    }
}

/********************************************************************************/
@media(max-width:750px)
{
    .container{
        max-width:750px;
        width:100%;
        margin:auto;
   }
 
   
   /***********************
    Header
    ***********************/
    .header-container {
        height: 66px;
        max-width: 750px;
        width: 100%;
    }
    
    .logo {
        width: 38px;
        margin: 9px 0px 0px 0px;
    }
    
    .header-container-text {
        float: left;
        font-size: 24px;
        margin: 16px 0px 0px 0px
    }
    
    .header-container-addText {
        font-size: 14px;
        margin: 10px 0px 0px 19px;
    }
    
    .btn-translation {
        height: 32px;
        margin-top: 12px;
        font-size: 14px;
        background-size: 66px;
        margin-right: 10px;
    }
    
    
    
    
    

    /***********************
    Navigation
    ***********************/
    .nav {
        padding: 10px 10px 10px 10px;
        max-width: 750px;
        margin: auto;
        display:block;
    }

        .nav > li {
            display: inline-block;
        }

            .nav > li > a {
                padding: 0px 24px 0px 24px;
            }

            .nav > li:last-child > a {
                border-right: 0px;
            }
            
            
            
            
                
     /***********************
    Content
    ***********************/   
            
    .content-wrapper {
        top: 112px;
    }
    
    .content-pageWrapper{

    }
    
    .content-container{ 
        background-image: url('../Images/seethrough.png');
    }
    
                
     /***********************
    Home
    ***********************/   
    
    .homeImage {
        width: 58%;
        float:none;
        margin: 0px 0px 15px 0px;
    }
}

/********************************************************************************/
@media(max-width:650px)
{
    .container{
        max-width:650px;
        width:100%;
        margin:auto;
   }
 
   
   /***********************
    Header
    ***********************/
    .header-container {
        height: 50px;
        max-width: 750px;
        width: 100%;
    }
    
    .logo {
        width: 29px;
        margin: 6px 0px 0px 6px;
    }
    
    .header-container-text {
        font-size: 20px;
        margin: 13px 0px 0px 0px;
        font-weight: bold;
    }
    
    .header-container-addText {
        display:none;
    }
    
    .btn-translation {
        background-image: url('../Images/greenBtn.png');
        height: 32px;
        width: 65px;
        padding-top: 9px;        
        margin-top: 12px;
        font-size: 14px;
        background-size: 66px;
        margin-right: 10px;
        display:none;
    } 
    
    
    
    
    
    /***********************
    Navigation
    ***********************/
    ul > .nav {
        display: none;
    }

    .nav > li {
        display: block;
        text-align: left;
    }

        .nav > li > a {
            text-decoration: none;
            margin: 10px 0px 13px 0px;
            border-right: none;
            border-bottom: 1px solid white;
            padding: 0px;
            display: block;
        }

    .nav {
        padding: 10px 10px 10px 10px;
        max-width: 650px;
        width: 96%;
        margin: auto; 
        position: absolute;
        z-index: 999;
        display:none;
    }

    .nav-btn::before {
        content: "Menu";
        width: 47px;
        margin: 0px 0px 4px 10px;
        padding: 0px 5px 0px 5px;
        cursor: pointer;
        display: block;
        border-radius: 4px;
        box-shadow: 1px 1px 2px 0px;
        padding: 0px 5px 0px 5px;
        background-color: rgb(219, 219, 219);
    }


    .nav-container {
        border-bottom: 4px solid white;
        border-top: 4px solid white;
        font-family: cambria;
        font-size: 14px;
        background-color: rgb(238, 238, 238);
    }
    
    .btn-translation-sm {
        margin: 0px 10px 0px 0px;
        cursor: pointer;
        display: block;
        float: right;
        color:#646464;
        font-size: 14px;
    }
        
    .btn-translation-formbtn
    {
        font-family: cambria;
        font-size: 14px;
        color:#646464;
        background-color: rgb(219, 219, 219);
        border-radius:5px;
        margin: -1px 0px 0px 0px;
        padding: 0px 3px 0px 3px;
    }
        
        
    /***********************
    Content
    ***********************/    
    .content-wrapper {
        top: 73px;
    }
    
    .content-pageWrapper{

    }
    
    .content-imgBoxWrapper{

    }
    
    .content-container{ 
        background-image: url('../Images/seethrough.png');
        min-height: 816px;
    }
    
    /***********************
    Footer
    ***********************/    
    .footer-wrapper {
        width: 100%;
        bottom: 0;
        height: 46px;
    }
    
}
@media(max-width:500px)
{
      .content-pageWrapper{
        clear: both;
        width: auto;
        padding: 0px 20px 20px 20px;
    }
    
    .content-imgBoxWrapper{
        display:none;
    }
    
    .homeImage {
        width: 100%;
        margin: 0px 0px 15px 0px;
    }
    
    .smallImages-wrapper{
        display:block;
    }
    
    
    /***********************
    Contact us
    ***********************/
    .map{
        border: 0;
        width: 100%;
    }

}

@media(max-width:350px)
{
    .header-container {
        height: 36px;
    }
    
    .logo {
        width: 19px;
        margin: 6px 0px 0px 6px;
    }
    
    .header-container-text {
        font-size: 14px;
        font-weight: bold;
        margin: 10px 0px 0px 0px;
    }
    
    .index-header h1 {
        font-size: 30px;        
       }
       
    .content-container{ 
        background-image: url('../Images/seethrough.png');
    }
    
}


/*--------- validation ----------*/
.error
{
    border: 2px solid red;
}